.drawer {
  position: fixed;
  left: 0;
  bottom: 0;
  background-color: #f2f2f2;
  transform: translateX(-100%);
  transition: transform 0.3s ease;
  z-index: 999;
  top: 100px;

  &.open {
    transform: translateX(0);
    @media (max-width: 767px) {
    width: 100%; 
    }
  }

  &__toggle {
    position: absolute;
    top: 10px;
    left: 10px;
    background-color: transparent;
    border: none;
    cursor: pointer;

    &:focus {
      outline: none;
    }
  }

  &__toggle-icon {
    display: block;
    width: 20px;
    height: 2px;
    background-color: #000;
    margin-bottom: 4px;

    &:before,
    &:after {
      content: "";
      display: block;
      width: 20px;
      height: 2px;
      background-color: #000;
    }

    &:before {
      transform: translateY(-6px);
    }

    &:after {
      transform: translateY(4px);
    }
  }

  &__content {
    padding: 50% 10%;
    @media (max-width: 767px) {
      padding: 10%;
    }
  }

  &__menu {
    list-style: none;
    padding: 0;
    margin: 0;

    &-item {
      margin-bottom: 50px;
      letter-spacing: 4px;
      font-size: 16px;

      @media (max-width: 767px) {
        font-size: 20px; 
      }

      a {
        color: #212429;
        text-decoration: none;
        &:hover {
          text-decoration: underline;
          color: #737373;
        }
      }
    }
  }
}
